<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Общие">
        <setting id="video_quality" type="select" label="Качество видео" values="2160p|1080p|720p|480p" enable="eq(2,false)" default="1080p"/>
        <setting id="stream_type" type="select" label="Тип стриминга" values="http|hls|hls2|hls4" enable="eq(1,false)" default="hls"/>
        <setting id="ask_quality" type="bool" label="Задавать вопрос о качестве видео перед воспроизведением" default="false"/>
        <setting id="mark_advert" type="bool" label="Отмечать видео с рекламой (!)" default="false"/>
        <setting id="exclude_anime" type="bool" label="Исключать аниме" default="false"/>
        <setting type="lsep" label="Требуется InputStream Adaptive"/>
        <setting id="inputstream_adaptive_enabled" type="bool" label="Использовать inputstream adaptive" default="false" enable="System.HasAddon(inputstream.adaptive)"/>
        <setting id="inputstream_helper_install" type="action" label="Установить inputstream helper" action="RunPlugin(plugin://$ID/inputstream_helper_install/)" enable="System.HasAddon(inputstream.adaptive)"/>
        <setting type="lsep" label="Сортировка"/>
        <setting id="sort_by" type="select" label="Сортировать по" values="дате обновления|дате добавления|году|названию|рейтингу|Кинопоиску|IMDB|просмотрам|зрителям" default="рейтингу"/>
        <setting id="sort_direction" type="select" label="Направление сортировки" values="по убыванию|по возрастанию" default="по убыванию"/>
        <setting type="lsep" label="Настройки истории поиска" />
        <setting id="history_max_qty" type="select" label="Сохранять в истории поиска (записей)" values="10|15|20" default="10"/>
        <setting id="reset_search_history" type="action" label="Очистить историю поиска" action="RunPlugin(plugin://$ID/clean_search_history/)"/>
        <setting type="sep" />
        <setting id="reset_auth" type="action" label="Сбросить аутентификацию" action="RunPlugin(plugin://$ID/reset_auth/)"/>
    </category>
    <category label="Элементы главного меню">
        <setting id="show_search" type="bool" label="Поиск" default="true"/>
        <setting id="show_last" type="bool" label="Последние" default="true"/>
        <setting id="show_popular" type="bool" label="Популярные" default="true"/>
        <setting id="show_hot" type="bool" label="Горячие" default="true"/>
        <setting id="show_sort" type="bool" label="Сортировка" default="true"/>
        <setting id="show_tv" type="bool" label="ТВ" default="true"/>
        <setting id="show_collections" type="bool" label="Подборки" default="true"/>
        <setting id="show_movies" type="bool" label="Фильмы" default="true"/>
        <setting id="show_serials" type="bool" label="Сериалы" default="true"/>
        <setting id="show_tvshows" type="bool" label="ТВ шоу" default="true"/>
        <setting id="show_3d" type="bool" label="3D" default="true"/>
        <setting id="show_concerts" type="bool" label="Концерты" default="true"/>
        <setting id="show_documovies" type="bool" label="Документальные фильмы" default="true"/>
        <setting id="show_docuserials" type="bool" label="Документальные сериалы" default="true"/>
    </category>
</settings>
