<?xml version="1.0" ?>
<settings version="1">
	<section id="video.kino.pub">
		<category id="general" label="32069">
			<group id="1">
				<setting id="video_quality" type="string" label="32070">
                    <dependencies>
                        <dependency type="enable" setting="ask_quality">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>720p</default>
                    <constraints>
                        <options>
                            <option>2160p</option>
                            <option>1080p</option>
                            <option>720p</option>
                            <option>480p</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32070</heading>
                    </control>
                </setting>
                <setting id="stream_type" type="string" label="32071">
                    <dependencies>
                        <dependency type="enable" setting="ask_quality">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>http</default>
                    <constraints>
                        <options>
                            <option>http</option>
                            <option>hls</option>
                            <option>hls2</option>
                            <option>hls4</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32071</heading>
                    </control>
                </setting>
                <setting id="loc" type="string" label="32072">
                    <dependencies>
                        <dependency type="enable" setting="ask_quality">false</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>ru</default>
                    <constraints>
                        <options>
                            <option label="32073">ru</option>
                            <option label="32074">nl</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32072</heading>
                    </control>
                </setting>
                <setting id="ask_quality" type="boolean" label="32075" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="mark_advert" type="boolean" label="32076" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="exclude_anime" type="boolean" label="32077" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
 			</group>
            <group id="2" label="32078">
                <setting id="use_inputstream_adaptive" type="boolean" label="32079" help="">
                    <dependencies>
                        <dependency type="enable" on="property" name="infobool">System.HasAddon(inputstream.adaptive)</dependency>
                    </dependencies>
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="inputstream_helper_install" type="action" label="32080" help="">
                    <dependencies>
                        <dependency type="enable" on="property" name="infobool">System.HasAddon(inputstream.adaptive)</dependency>
                    </dependencies>
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/inputstream_helper_install/)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="3" label="32081">
                <setting id="sort_by" type="string" label="32082">
                    <level>0</level>
                    <default>rating</default>
                    <constraints>
                        <options>
                            <option label="32059">updated</option>
                            <option label="32060">created</option>
                            <option label="32061">year</option>
                            <option label="32062">title</option>
                            <option label="32063">rating</option>
                            <option label="32064">kinopoisk_rating</option>
                            <option label="32090">imdb_rating</option>
                            <option label="32065">views</option>
                            <option label="32066">watchers</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32082</heading>
                    </control>
                </setting>
                <setting id="sort_direction" type="string" label="32083">
                    <level>0</level>
                    <default>desc</default>
                    <constraints>
                        <options>
                            <option label="32067">asc</option>
                            <option label="32068">desc</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32083</heading>
                    </control>
                </setting>
            </group>
            <group id="4" label="32084">
                <setting id="history_max_qty" type="string" label="32085">
                    <level>0</level>
                    <default>10</default>
                    <constraints>
                        <options>
                            <option>10</option>
                            <option>15</option>
                            <option>20</option>
                        </options>
                    </constraints>
                    <control type="list" format="string">
                        <heading>32085</heading>
                    </control>
                </setting>
                <setting id="reset_search_history" type="action" label="32086">
                     <level>0</level>
                    <data>RunPlugin(plugin://$ID/clean_search_history/)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
            <group id="5">
                <setting id="reset_auth" type="action" label="32087">
                    <level>0</level>
                    <data>RunPlugin(plugin://$ID/reset_auth/)</data>
                    <control type="button" format="action">
                        <close>true</close>
                    </control>
                </setting>
            </group>
		</category>
        <category id="menu" label="32088">
            <group id="6">
                <setting id="show_search" type="boolean" label="32019">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_last" type="boolean" label="32020">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_hot" type="boolean" label="32021">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_popular" type="boolean" label="32022">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_sort" type="boolean" label="32081">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_tv" type="boolean" label="32051">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_collections" type="boolean" label="32052">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_movies" type="boolean" label="32053">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_serials" type="boolean" label="32054">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_tvshows" type="boolean" label="32055">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_3d" type="boolean" label="3D">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_concerts" type="boolean" label="32056">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_documovies" type="boolean" label="32057">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_docuserials" type="boolean" label="32058">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
            </group>
        </category>
	</section>
</settings>
