exclude: tests/responses.py
repos:
- repo: https://github.com/asottile/reorder_python_imports
  rev: v1.7.0
  hooks:
  - id: reorder-python-imports
    language_version: python3
    args:
      - --application-directories=.:src
- repo: https://github.com/psf/black
  rev: stable
  hooks:
  - id: black
    args: [--safe, --quiet, --line-length, "100"]
    require_serial: true
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v2.3.0
  hooks:
  - id: trailing-whitespace
    language_version: python3
  - id: end-of-file-fixer
    language_version: python3
  - id: debug-statements
    language_version: python3
  - id: flake8
    language_version: python3
    args:
      - --max-line-length=100
      - --ignore=W503,E203
- repo: https://github.com/asottile/pyupgrade
  rev: v1.24.1
  hooks:
  - id: pyupgrade
    language_version: python3
