<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<setting id="video_quality" type="select" label="Качество видео" values="1080p|720p|480p" enable="eq(2,false)" default="1080p"/>
	<setting id="stream_type" type="select" label="Тип стриминга" values="http|hls|hls2|hls4" enable="eq(1,false)" default="hls"/>
	<setting id="ask_quality" type="bool" label="Задавать вопрос о качестве видео перед воспроизведением" default="false"/>
	<setting type="sep" />
	<setting id="reset_auth" type="bool" label="Сбросить аутентификацию" default="false"/>
</settings>
